root = true

# ------------------------------------------------
# Global defaults
# ------------------------------------------------
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# ------------------------------------------------
# Python
# ------------------------------------------------
[*.py]
max_line_length = 100

# ------------------------------------------------
# JSON / YAML config files
# ------------------------------------------------
[*.{json,yml,yaml}]
indent_size = 2

# ------------------------------------------------
# Markdown
# ------------------------------------------------
[*.md]
trim_trailing_whitespace = false

# ------------------------------------------------
# TOML (pyproject, Ruff, etc.)
# ------------------------------------------------
[*.toml]
indent_size = 2

# ------------------------------------------------
# Makefile
# ------------------------------------------------
[Makefile]
indent_style = tab

# ------------------------------------------------
# Dockerfiles
# ------------------------------------------------
[Dockerfile]
trim_trailing_whitespace = false

# ------------------------------------------------
# Env files
# ------------------------------------------------
[*.env]
indent_size = 2

# ------------------------------------------------
# Initializations
# ------------------------------------------------
[*.ini]
indent_size = 2

# ------------------------------------------------
# Shell
# ------------------------------------------------
[*.sh]
indent_size = 2
